include *.h
recursive-include pyreadr/libs *.h
recursive-include pyreadr *.h
include *.pyx
recursive-include pyreadr *.pyx
include *.pxd
recursive-include pyreadr *.pxd
include *.c
recursive-include pyreadr/libs *.c
recursive-include pyreadr *.dll
recursive-include pyreadr *.lib


